* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

header {
    height: 80px;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
}

.logo_small {
    display: inline-block;
    height: 20px;
}

.menu {
    list-style: none;
    font-size: 0.8rem;
}

.menu_sx a {
    margin-right: 30px;
}

.menu_dx a {
    margin-left: 30px;
}

.menu a {
    color: white;
    text-decoration: none;
}

.btn {
    padding: 0px 10px;
    margin: 0px 0px 0px 30px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
}

.jumbotron {
    background-color: olive;
}

.container_big {
    max-width: 1170px;
    margin: 50px auto;
}

.container_small {
    max-width: 1000px;
    margin: 50px auto;
}

.cln_2small {
    width: 30%;
}

.cln_2big {
    width: 70%;
}

.cln_3 {
    width: calc(100% / 3);
}

.cln_3_sponsor, .cln_3_sponsor_center {
    width: calc(100vw / 3);
}

.sponsor {
    width: calc(100vw / 6 - 3px);
    height: calc(100vw / 6);
}

.cln_3_sponsor_center {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
}



/* Debug */

.border {
    border: solid 2px black;
}

.debug header {
    background-color: grey;
}

.container_big {
    background-color: darkblue;
    margin-top: 30px;
}

.debug .jumbotron {
    height: 400px;
}

.debug .container_big {
    height: 350px;
    color: white;
}

.debug .container {
    justify-content: space-between;
    flex-wrap: wrap;
} 

.debug .column {
    background-color: red;
    height: 250px;
    margin: 30px 0px;
    color: white;
}

.debug .cln_content {
    height: 90%;
}

.debug .cln_title {
    height: 10%;
}

.debug .sponsor {
    background-color: green;
}

.debug .blue {
    background-color: blue;
}

.debug .sponsor_container {
    flex-wrap: nowrap;
}

.debug .column_sponsor {
    background-color: red;
    margin: 30px 0px;
    color: white;
}








