* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

main {
    padding: 70px 0px;
}

/* Utility */

.container {
    justify-content: space-between;
    flex-wrap: wrap;
} 

.flex {
    display: flex;
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

.text_center {
    text-align: center;
}

.margintop10 {
    margin-top: 10px;
}

.margintop20 {
    margin-top: 20px;
}

.margintop40 {
    margin-top: 40px;
}

.margintop80 {
    margin-top: 80px;
}

.marginleft10 {
    margin-left: 10px;
}

.marginleft20 {
    margin-left: 20px;
}

.marginbottom40 {
    margin-bottom: 40px;
}

.font09 {
    font-size: 0.9rem;
}

.font07 {
    font-size: 0.7rem;
}

.paddingleft25 {
    padding-left: 24px;
}

.no-decor {
    list-style: none;
}

.block {
    display: block;
}

.grey {
    color:grey;
}

.border_grey {
    border: solid 1px lightgrey;
}

.bold {
    font-weight: bold;
}

.btn {
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}

.btn_big {
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
}

.w100 {
    width: 100%;
}


.white {
    color: white;
}

.prugna {
    color: rgb(97, 8, 43);
}

.bg_blue {
    background-color: rgb(0, 97, 255);
}

.bg_white {
    background-color: white;
}

.blue {
    color: rgb(0, 97, 255);
}

.padding20 {
    padding: 20px;
} 

.padding50 {
    padding: 50px;
}

.container_big, .container_big_footer {
    max-width: 1170px;
    margin: auto;
}

.container_small {
    max-width: 1000px;
    margin: 120px auto;
    justify-content: space-between;
}

.cln_content {
    padding: 30px 35px;
    height: 100%;
}

.border_grey_notop {
    border-bottom: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
}

.cln_content_padd0 {
    padding: 0px 25px;
    height: 100%;
}

.cln_3 {
    width: calc(100% / 3);
}

.cln_30 {
    width: 30%;
}

.cln_40 {
    width: 40%;
}

.cln_50 {
    width: 50%;
}

.cln_60 {
    width: 60%;
}

.cln_70 {
    width: 70%;
}

.cln_3_sponsor, .cln_3_sponsor_center {
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

h3 {
    font-size: 25px;
}

.container_small h2 {
    font-size: 40px;
}

.bg_1 {
    background-color: rgb(162, 211, 155);
}

.bg_2 {
    background-color: rgb(97, 8, 43);
}

.bg_3 {
    background-color: rgb(00, 147, 206);
}

.bg_4 {
    background-color: rgb(255, 28, 28);
}

.bg_5 {
    background-color: rgb(213, 0, 31);
}

.bg_7 {
    background-color: rgb(13, 36, 129);
}

.bg_6 {
    background-color: rgb(180, 208, 231);
}

.bg_8 {
    background-color: rgb(255, 216, 48);
}

/* Header */

header {
    height: 70px;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
    background-color: white;
    align-items: center;
    border-bottom: solid 1px lightgrey;
    z-index: 9999;
}

.logo_small {
    display: inline-block;
    height: 25px;
    margin-right: 30px;
}

.menu {
    list-style: none;
    font-size: 0.8rem;
    justify-content: space-between;
    width: 300px;
}

.menu li {
    line-height: 100%;
    border-bottom: solid 3px rgba(255, 255, 255, 0.0);
}

.menu_dx, .menu_sx {
    align-items: center;
    height: 100%;
}

.menu a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: block;
    line-height: 69px;
}

/* Jumbotron */

.jumbotron {
    background-color: rgb(180, 208, 231);
}

.jumbotron_container {
    position: relative;
    top: 80px;
}

.jumbotron h1 {
    font-size: 70px;
    font-weight: 900;
}

.jumbotron .btn {
    margin: 20px 0px;
}

.jumbotron i {
    margin: 80px 0px 10px;
    font-size: 50px;
    color: black;
}

.container img {
    width: 100%;
}

/* Main */

.select {
    margin: 40px 0px 20px;
}

.select_span {
    margin-right: 50px;
    align-items: center;
}

.select_span svg {
    margin-right: 5px;
}

.text-indent li {
    text-indent: -12px;
    padding-left: 16px;
}

.cln_title {
    text-align: center;
    padding: 10px;
}

#btn_grey {
    border: solid 1px grey;
    font-size: 0.9rem;
    color: grey;
}

.cln_title i {
    margin-right: 10px;
}

.sponsor {
    width: 50%;
    height: 50%;
}

.sponsor img {
    width: 50%;
    filter: invert(1);
}

.cln_3_sponsor_center {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 30px;
}

.cln_3_sponsor_center img {
    width: 50%;
}

.faq i {
    margin-left: 250px;
}

/* Footer */

footer {
    background-color: black;
    color: white;
    justify-content: space-between;
    border-bottom: solid 3px white;
    padding: 40px 0px;
}

footer .container_big_footer {
    width: 1170px;
}

.list_container {
    width: calc(100% / 5 - 20px);
    margin-right: 10px;
}

.footer_list {
    list-style: none;
}

.footer_list a {
    text-decoration: none;
    color: white;
}

.hr_small {
    color: lightgrey;
    width: 50px;
}

.hr_big {
    color: lightgrey;
    width: 100px;
}

/* Hover e bonus */

.sponsor:hover {
    border: solid 20px rgba(255, 255, 255, 0.6);
}

.menu li:hover {
    border-bottom: solid 3px rgb(0, 97, 255);
}

.logo_small, .menu_dx .btn {
    border-bottom: solid 3px rgba(255, 255, 255, 0.0);
}










